{% extends "base.html" %}
{% block content %}

<div class="login-container">

    <div class="auth-box">
        <h2>Forgot Password</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        <form method="POST">
            
            <label>Username</label>
            <input type="text" name="username" required>

            <label>New Password</label>
            <input type="password" name="new_password" required>

            <button type="submit">Reset Password</button>

        </form>

    </div>

</div>

{% endblock %}